body {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  color: #333;
  font-family: 'Roboto';
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header >  h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}
header > h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.container {
  max-width: 450px;
  margin: 30px auto;
}

form {
  width: 100%;
  display:flex;
}

form > .todo-input {
  padding: 5px 10px;
  flex: auto;
  border: 1px solid rgba(0, 0, 0, .25);
  font-size: 20px;
}

form > .todo-input:focus , .btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px blueviolet;
}

.btn {
  border: 1px solid rgba(0, 0, 0, .25);
}

.todo {
  display: flex;
  margin: 10px 0;
  background-color: #fff;
}

.todo > .todo-name {
  flex: auto;
  margin-left: 30px;
}

.completed {
  text-decoration: line-through;
  color: #555;
}